<div class="header">
    <h1>{{title}}</h1>
</div>
<form action="" method="post">

    <label for="titulo">Titulo<input name="titulo" type="text"></label>

    <label for="fecha_de_creacion">fecha de creacion<input name="fecha_de_creacion" type="date"></label>
    <label for="calificacion">calificación<input name="calificacion" type="number"></label>
    <label for="imagen">imagen url<input name="imagen" type="text"></label>
    <button type="submit">{{title}}</button>
</form>
<br>
<a href="../">Volver</a>