<div class="header">
    <h1>{{title}}</h1>
</div>
<div class="mainmenu">
    <p>{{message}}</p>
    <ul>
        <li><a href="disney/login">Login</a></li>
        <li><a href="disney/register">Register</a></li>
    </ul>
    <ul>
        <li><a href="api/characters">Personajes</a></li>
        <li><a href="api/movies">Peliculas</a></li>
    </ul>
</div>