<div class="header">
    <h1>{{title}}</h1>
</div>

<form action="" method="post">

    <label for="titulo">Titulo<input name="title" type="text" placeholder="{{nombre}}" value="{{nombre}}"></label>

    <button type="submit">Actualizar</button>
</form>
<br>
<a href="../">Volver</a>